# time

In [1]:
# time import

import time

In [3]:
# 현재시간 구하기

time.localtime()

time.struct_time(tm_year=2020, tm_mon=6, tm_mday=23, tm_hour=21, tm_min=45, tm_sec=5, tm_wday=1, tm_yday=175, tm_isdst=0)

In [13]:
# 조금 더 깔끔하게 출력

print('Ymd: ',time.strftime('%Y-%m-%d', time.localtime())) # 년월일 출력
print('c: ',time.strftime('%c', time.localtime())) # 년월일시간 출력
print('a: ',time.strftime('%a', time.localtime())) # 요일 줄임
print('A: ',time.strftime('%A', time.localtime())) # 요일
print('w: ',time.strftime('%w', time.localtime())) # 요일 숫자 표시 0:일 ~6:토
print('d: ',time.strftime('%d', time.localtime())) # 일
print('b: ',time.strftime('%b', time.localtime())) # 월 줄임
print('B: ',time.strftime('%B', time.localtime())) # 월
print('m: ',time.strftime('%m', time.localtime())) # 월 숫자 표시
print('y: ',time.strftime('%y', time.localtime())) # 년도 두자리수
print('Y: ',time.strftime('%Y', time.localtime())) # 년도 네자리수
print('H: ',time.strftime('%H', time.localtime())) # 24시간
print('I: ',time.strftime('%I', time.localtime())) # 12시간
print('p: ',time.strftime('%p', time.localtime())) # AM, PM
print('M: ',time.strftime('%M', time.localtime())) # 분
print('S: ',time.strftime('%S', time.localtime())) # 초
print('z: ',time.strftime('%z', time.localtime())) # 대한민국 표준 시간대
print('j: ',time.strftime('%j', time.localtime())) # 1월1일로부터 경과된 일수
print('U: ',time.strftime('%U', time.localtime())) # 1년중 현재가 몇 주차인지
print('W: ',time.strftime('%W', time.localtime())) # 1년중 현재가 몇 주차인지
print('x: ',time.strftime('%x', time.localtime())) # 날짜 출력
print('X: ',time.strftime('%X', time.localtime())) # 시간 출력

Ymd:  2020-06-23
c:  Tue Jun 23 21:59:56 2020
a:  Tue
A:  Tuesday
w:  2
d:  23
b:  Jun
B:  June
m:  06
y:  20
Y:  2020
H:  21
I:  09
p:  PM
M:  59
S:  56
z:  +0900
j:  175
U:  25
W:  25
x:  06/23/20
X:  21:59:56

# datetime

In [15]:
# datetime import

import datetime as dt

In [17]:
# 오늘 날짜 확인

dt.datetime.today()

datetime.datetime(2020, 6, 23, 22, 16, 32, 298559)

In [18]:
# 문자열을 시간으로

dt.datetime.strptime('2020-06-23','%Y-%m-%d')

datetime.datetime(2020, 6, 23, 0, 0)

In [23]:
# 날짜 차이 구하기
# +,- *, / 다 된다
print(dt.datetime.today()-dt.timedelta(days=10)) # 오늘 날짜로부터 10일전 날짜 구하기
print(dt.datetime.strptime('2020-05-23','%Y-%m-%d')-dt.timedelta(days=10)) # 2020-05-23로부터 10일전 날짜 구하기

2020-06-13 22:33:15.864972
2020-05-13 00:00:00

In [129]:
# 연습: 현재시간으로부터 2021년 크리스마스까지 남은 시간 출력

goal_time=dt.datetime(2021,12,25)
print('목표날짜: ',goal_time)
how_time=goal_time-dt.datetime.now()
print('날짜: ',how_time.days,'시간: ', how_time.seconds)

print('크리스마스까지 남은 날은 {}일 {}시간입니다.'.format(how_time.days,how_time.seconds//3600))

목표날짜:  2021-12-25 00:00:00
날짜:  548 시간:  37191
크리스마스까지 남은 날은 548일 10시간입니다.

# pandas에서의 datetime

In [31]:
import pandas as pd

In [115]:
# 예제 파일 생성

data_t2=pd.date_range('2019-12-31',periods=12,freq='MS')
data_t3=pd.date_range('2019-01-01',periods=12,freq='M')
data_t=pd.concat([pd.DataFrame(data_t2),pd.DataFrame(data_t3)])
data_t.columns=['년도']
data_t

           년도
0  2020-01-01
1  2020-02-01
2  2020-03-01
3  2020-04-01
4  2020-05-01
5  2020-06-01
6  2020-07-01
7  2020-08-01
8  2020-09-01
9  2020-10-01
10 2020-11-01
11 2020-12-01
0  2019-01-31
1  2019-02-28
2  2019-03-31
3  2019-04-30
4  2019-05-31
5  2019-06-30
6  2019-07-31
7  2019-08-31
8  2019-09-30
9  2019-10-31
10 2019-11-30
11 2019-12-31

In [116]:
# 년/월/일만 추출

t1=data_t['년도'].dt.year # 년도만 추출
t2=data_t['년도'].dt.month # 월만 추출
t3=data_t['년도'].dt.day # 일만 추출
print(t1.drop_duplicates()) # 중복제거
print(t2.drop_duplicates())
print(t3.drop_duplicates())

0    2020
0    2019
Name: 년도, dtype: int64
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
Name: 년도, dtype: int64
0     1
0    31
1    28
3    30
Name: 년도, dtype: int64

In [117]:
data_t['년']=t1
data_t['월']=t2
data_t['일']=t3
data_t

           년도     년   월   일
0  2020-01-01  2020   1   1
1  2020-02-01  2020   2   1
2  2020-03-01  2020   3   1
3  2020-04-01  2020   4   1
4  2020-05-01  2020   5   1
5  2020-06-01  2020   6   1
6  2020-07-01  2020   7   1
7  2020-08-01  2020   8   1
8  2020-09-01  2020   9   1
9  2020-10-01  2020  10   1
10 2020-11-01  2020  11   1
11 2020-12-01  2020  12   1
0  2019-01-31  2019   1  31
1  2019-02-28  2019   2  28
2  2019-03-31  2019   3  31
3  2019-04-30  2019   4  30
4  2019-05-31  2019   5  31
5  2019-06-30  2019   6  30
6  2019-07-31  2019   7  31
7  2019-08-31  2019   8  31
8  2019-09-30  2019   9  30
9  2019-10-31  2019  10  31
10 2019-11-30  2019  11  30
11 2019-12-31  2019  12  31

In [118]:
# 월, 일별 개수 확인

print(pd.DataFrame(data_t).groupby('월').count())
print(pd.DataFrame(data_t).groupby('일').count())

    년도  년  일
월
1    2  2  2
2    2  2  2
3    2  2  2
4    2  2  2
5    2  2  2
6    2  2  2
7    2  2  2
8    2  2  2
9    2  2  2
10   2  2  2
11   2  2  2
12   2  2  2
    년도   년   월
일
1   12  12  12
28   1   1   1
30   4   4   4
31   7   7   7

In [119]:
# 분기 별로 분류

data_t['분기']=pd.to_datetime(data_t['년도'].values, format='%Y=%m').astype('period[Q]')
data_t

           년도     년   월   일      분기
0  2020-01-01  2020   1   1  2020Q1
1  2020-02-01  2020   2   1  2020Q1
2  2020-03-01  2020   3   1  2020Q1
3  2020-04-01  2020   4   1  2020Q2
4  2020-05-01  2020   5   1  2020Q2
5  2020-06-01  2020   6   1  2020Q2
6  2020-07-01  2020   7   1  2020Q3
7  2020-08-01  2020   8   1  2020Q3
8  2020-09-01  2020   9   1  2020Q3
9  2020-10-01  2020  10   1  2020Q4
10 2020-11-01  2020  11   1  2020Q4
11 2020-12-01  2020  12   1  2020Q4
0  2019-01-31  2019   1  31  2019Q1
1  2019-02-28  2019   2  28  2019Q1
2  2019-03-31  2019   3  31  2019Q1
3  2019-04-30  2019   4  30  2019Q2
4  2019-05-31  2019   5  31  2019Q2
5  2019-06-30  2019   6  30  2019Q2
6  2019-07-31  2019   7  31  2019Q3
7  2019-08-31  2019   8  31  2019Q3
8  2019-09-30  2019   9  30  2019Q3
9  2019-10-31  2019  10  31  2019Q4
10 2019-11-30  2019  11  30  2019Q4
11 2019-12-31  2019  12  31  2019Q4

In [120]:
# 날짜-시간 잘라내기
# 위의 데이터로 가정한다면 년도 컬럼이 인덱스가 되어야지 검색이 가능하다 
# brfore=a에서 a는 인덱스이다
# 또한 인덱스가 정렬이 되어야 한다

print(data_t2.truncate(before='2020-04')) # brfore=a : a 이전 제거
print(data_t2.truncate(after='2019-11')) # after=a : a 이후 제거

AttributeError: 'DatetimeIndex' object has no attribute 'truncate'

In [121]:
# data_t의 년도 컬럼을 인덱스로 설정

data_t=data_t.set_index('년도')
data_t

               년   월   일      분기
년도
2020-01-01  2020   1   1  2020Q1
2020-02-01  2020   2   1  2020Q1
2020-03-01  2020   3   1  2020Q1
2020-04-01  2020   4   1  2020Q2
2020-05-01  2020   5   1  2020Q2
2020-06-01  2020   6   1  2020Q2
2020-07-01  2020   7   1  2020Q3
2020-08-01  2020   8   1  2020Q3
2020-09-01  2020   9   1  2020Q3
2020-10-01  2020  10   1  2020Q4
2020-11-01  2020  11   1  2020Q4
2020-12-01  2020  12   1  2020Q4
2019-01-31  2019   1  31  2019Q1
2019-02-28  2019   2  28  2019Q1
2019-03-31  2019   3  31  2019Q1
2019-04-30  2019   4  30  2019Q2
2019-05-31  2019   5  31  2019Q2
2019-06-30  2019   6  30  2019Q2
2019-07-31  2019   7  31  2019Q3
2019-08-31  2019   8  31  2019Q3
2019-09-30  2019   9  30  2019Q3
2019-10-31  2019  10  31  2019Q4
2019-11-30  2019  11  30  2019Q4
2019-12-31  2019  12  31  2019Q4

In [122]:
# 인덱스를 기준으로 정렬

data_t2=data_t.sort_index()
data_t2

               년   월   일      분기
년도
2019-01-31  2019   1  31  2019Q1
2019-02-28  2019   2  28  2019Q1
2019-03-31  2019   3  31  2019Q1
2019-04-30  2019   4  30  2019Q2
2019-05-31  2019   5  31  2019Q2
2019-06-30  2019   6  30  2019Q2
2019-07-31  2019   7  31  2019Q3
2019-08-31  2019   8  31  2019Q3
2019-09-30  2019   9  30  2019Q3
2019-10-31  2019  10  31  2019Q4
2019-11-30  2019  11  30  2019Q4
2019-12-31  2019  12  31  2019Q4
2020-01-01  2020   1   1  2020Q1
2020-02-01  2020   2   1  2020Q1
2020-03-01  2020   3   1  2020Q1
2020-04-01  2020   4   1  2020Q2
2020-05-01  2020   5   1  2020Q2
2020-06-01  2020   6   1  2020Q2
2020-07-01  2020   7   1  2020Q3
2020-08-01  2020   8   1  2020Q3
2020-09-01  2020   9   1  2020Q3
2020-10-01  2020  10   1  2020Q4
2020-11-01  2020  11   1  2020Q4
2020-12-01  2020  12   1  2020Q4

In [123]:
# 날짜-시간 잘라내기
# 위의 데이터로 가정한다면 년도 컬럼이 인덱스가 되어야지 검색이 가능하다 
# brfore=a에서 a는 인덱스이다
# 또한 인덱스가 정렬이 되어야 한다

print(data_t2.truncate(before='2020-04')) # brfore=a : a 이전 제거
print(data_t2.truncate(after='2019-11')) # after=a : a 이후 제거

               년   월  일      분기
년도
2020-04-01  2020   4  1  2020Q2
2020-05-01  2020   5  1  2020Q2
2020-06-01  2020   6  1  2020Q2
2020-07-01  2020   7  1  2020Q3
2020-08-01  2020   8  1  2020Q3
2020-09-01  2020   9  1  2020Q3
2020-10-01  2020  10  1  2020Q4
2020-11-01  2020  11  1  2020Q4
2020-12-01  2020  12  1  2020Q4
               년   월   일      분기
년도
2019-01-31  2019   1  31  2019Q1
2019-02-28  2019   2  28  2019Q1
2019-03-31  2019   3  31  2019Q1
2019-04-30  2019   4  30  2019Q2
2019-05-31  2019   5  31  2019Q2
2019-06-30  2019   6  30  2019Q2
2019-07-31  2019   7  31  2019Q3
2019-08-31  2019   8  31  2019Q3
2019-09-30  2019   9  30  2019Q3
2019-10-31  2019  10  31  2019Q4

In [114]:
data_t2[3:7]

               년  월   일      분기
년도
2019-04-30  2019  4  30  2019Q2
2019-05-31  2019  5  31  2019Q2
2019-06-30  2019  6  30  2019Q2
2019-07-31  2019  7  31  2019Q3